services:
  db:
    image: 'bitnami/postgresql:latest'
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: changeme
      POSTGRES_USER: postgres

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8888:8080